<% include ./partials/masthead %>
<body>
  <!--header starts -->
  <header>
    <!--sticky navigation starts -->
    <% include partials/cosmeticnav %>
    <!--sticky navigation ends -->
  </header>
    <!-- sidebar section starts -->
  <%= include partials/cosmeticsidebar %>
  <!-- sidebar section ends -->
  <!-- index section ends -->
   <%- body -%>
  <!--start of javascripts-->
  <div class="clearfix"></div>
  <% include partials/scripts %>
  <!--end of javascripts-->
 </body>
</html>
