<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Salonhunt</title>

  <!-- CSS  -->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/bower_components/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

    <nav class="navbar-fixed">
      <a id="logo-container" href="/" class="brand-logo"><i><b>Salonhunt<b></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#section11">Featured</a></li>
        <li><a href="#section">Contact Us</a></li>
        <li><a href="#modal2">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#section11">Featured</a></li>
        <li><a href="#section">Contact Us</a></li>
        <li><a href="#modal2">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </nav>
<body>

<div class="valign-wrapper parallax-container">
  <div class="container">
    <div class="row">
      <div class="call l8 s12 white-text">
        <div class="valign">
         <!--<p class="center-align" style="font-family:roboto; letter-spacing:normal; font-size:58px;">Find a beauty spa now</p>-->
   <form action="/find" method ="get">
        <div class="search_input col l2">
        </div>
        <div class="input-field col l8">
         
         <input placeholder="Find a Beauty Spa around you"id="search" type="search" required>

        </div>

        <div class="col l2">
          
        </div>
     </form>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img class="responsive-img"src="images/girl3.jpg" width="100%">
  </div>
</div>


<% include templates/loginform.ejs %>

   <div id="section2">
 <div class="row">
     <div class="container">
       <div class="content center-align">
          <h5 class="title">Open Your Account Today</h5>
          <div class="clearfix"></div>
          <h>Join a network of hair salons ,beauty spa's ,salon customers </br>and cosmetic suppliers within your region.</br> </h>
            <h3>Your beauty,Our Priority!<h3>
        </div>
 </div>
 </div>
</div>


<div id ="section11">
<div class="container">
    <div class="section">
      <div class="row ">

            <!--<p class="center-align ">
            <span><a class ="featured" href="#section1" data-filter=".responsive">Salons</a></span>
            <span><a class ="featured" href="#">Products</a></span>
            <span><a class ="featured" href="#">Patners</a></span>
            </p>-->

<div class="col s12 m6 l4 responsive">

   <div id="small_posts_body" class="row small_posts_list">
        <div class="col s12">
           <div class="chip">
             <img src="images/girl4.jpg" alt="Contact Person">
                <a href="/single"><span class="card-title">SalonIris</span></a>
          </div>
            <div class="card-content">
             <h>Buy yourself today.Available in all our branches</h>
            </div>
          <div id="small_post_image" class="col s12">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="images/dread2.jpg">
                 </div>
                   </div>
            </div>

         </div>
       </div>

</div>

<div class="col s12 m6 l4">

   <div id="small_posts_body" class="row small_posts_list">
        <div class="col s12">
          <div class="chip">
             <img src="images/girl4.jpg" alt="Contact Person">
                <a href="/profile"><span class="card-title">BeautyClick</span></a>
          </div>
            <div class="card-content">
             <h>Buy yourself today.Available in all our branches</h>
            </div>
          <div id="small_post_image" class="col s12">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="images/girl4.jpg">
                 </div>
                   </div>
            </div>

         </div>
       </div>

</div>

<div class="col s12 m6 l4">

   <div id="small_posts_body" class="row small_posts_list">
        <div class="col s12">
          <div class="chip">
             <img src="images/girl4.jpg" alt="Contact Person">
                <a href="/profile"><span class="card-title">BeautyClick</span></a>
          </div>
            <div class="card-content">
             <h>Buy yourself today.Available in all our branches</h>
            </div>
          <div id="small_post_image" class="col s12">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="images/girl2.jpg">
                 </div>
                   </div>
            </div>

         </div>
       </div>

</div>

<div class="col s12 m6 l4">

   <div id="small_posts_body" class="row small_posts_list">
        <div class="col s12">
          <div class="chip">
             <img src="images/girl4.jpg" alt="Contact Person">
                <a href="/profile"><span class="card-title">BeautyClick</span></a>
          </div>
            <div class="card-content">
             <h>Buy yourself today.Available in all our branches</h>
            </div>
          <div id="small_post_image" class="col s12">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="images/girl4.jpg">
                 </div>
                   </div>
            </div>

         </div>
       </div>

</div>

<div class="col s12 m6 l4">

   <div id="small_posts_body" class="row small_posts_list">
        <div class="col s12">
          <div class="chip">
             <img src="images/girl4.jpg" alt="Contact Person">
                <a href="/profile"><span class="card-title">BeautyClick</span></a>
          </div>
            <div class="card-content">
             <h>Buy yourself today.Available in all our branches</h>
            </div>
          <div id="small_post_image" class="col s12">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="images/dread7.jpg">
                 </div>
                   </div>
            </div>

         </div>
       </div>

</div>

<div class="col s12 m6 l4 responsive">

   <div id="small_posts_body" class="row small_posts_list">
        <div class="col s12">
          <div class="chip">
             <img src="images/girl3.jpg" alt="Contact Person">
                  <a href="/profile"><span class="card-title"> Saloniris</span></a>
          </div>
            <div class="card-content">
             <h>Buy yourself today.Available in all our branches</h>
            </div>
          <div id="small_post_image" class="col s12">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="images/girl3.jpg">
                 </div>
                   </div>
            </div>

         </div>
       </div>

</div>
</div>
</div>
  </div>
  </div>

<div id="section2">
<div class="row">
    <div class="container">
      <div class="mobile">
        <div class="col s12 m6 l6">
          <h5 class="title center-align"><span>Join the Network</span></h5></br>
          <div class="clearfix"></div>
          <h>Join a fun, passionate community of beauty from around the world sharing and discovering all about hairstyles! See detailed info such as the exact hair products used, how much it cost, and the salon’s location.</h>

                <img class="responsive-img" src="images/play.jpg">


       </div>
       <div class="col s12 m6 l6 responsive">
         <img class="responsive-img" src="images/mobile.jpg">

      </div>
    </div>
</div>
</div>
</div>

<div id ="section">

        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
               <h4 class="white-text">Useful Links</h4>
                  <p class="grey-text text-lighten-3">Home</p></br>
                  <p class="grey-text text-lighten-3">Services</p></br>
                  <p class="grey-text text-lighten-3">Views</p>
              </div>
              <div class="col l4 offset-l2 s12"></br>
                <ul>
                  <li>
                    <a href="#"<span class="fa-stack fa-lg">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x"></i>
                    </span></a>
                    <h>Find us on Facebook</h><br>
                  </li>
                  <li><a href="#"<span class="fa-stack fa-lg">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-twitter fa-stack-1x"></i>
                      </span></a>
                      <h>Follow us on Twitter</h><br>
                  </li>
                  <li>
                  <a href="#"<span class="fa-stack fa-lg">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-google-plus fa-stack-1x"></i>
                      </span></a>
                      <h>Friggatech@gmail.com</h><br></li>
                  <li>
                   <a href="#"<span class="fa-stack fa-lg">
                       <i class="fa fa-square-o fa-stack-2x"></i>
                       <i class="fa fa-phone fa-stack-1x"></i>
                      </span></a>
                      <h>0720000000</h><br></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
           <a class="grey-text text-lighten-4 left" href="#!"> © 2017 Copyright Text</a>
           <a class="grey-text text-lighten-4 right" href="#!">@ Frigga Technologies</a>
          </div>
        </footer>

   </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
