<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>mysalon</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="black navbar">
      <a id="left" href="/" class="brand-logo"><b>Salonhunt<b></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/register">Signup</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/register">Signup</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </nav>

<section id="login">
<div class ="container">
 <form action="/login" method="post">
    <fieldset>
        <legend>Login Details</legend>
        <div>
            <label for="email">Email (required):</label>
            <input type="email" id="email" name="email" value="">
        </div>
        <div>
            <label>Password:</label>
            <input type="password" id="password" name="password" class="validate" value="">
        </div>
        <div class="submit">
         <button class="modal-action modal-close waves-effect waves-red btn-flat ">Login</button>
        </div>
    </fieldset>
</form>
</div>
</section>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
