<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>mysalon</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="black navbar">
      <a id="left" href="/" class="brand-logo"><b>Salonhunt<b></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/login">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </nav>



<section id="signup">
<div class ="container">

<form action="/signup" method="post">
              <% if(errors.length>0){ %>
              <% for(var i=0; i<errors.length; i++){ %>
                <p><%= errors[i].msg %></p>
              <% } %>
            <% } %>
            <% if(message.length>0){ %>
              <% for(var i=0; i<message.length; i++){ %>
                <p><%= message[i] %></p>
              <% } %>
            <% } %>
    <fieldset>
        <legend>Signup Details</legend>
        <div>
            <label for="name">Name (required):</label>
            <input type="text" id="username" name="username" value="" aria-describedby="name-format">
            <span id="name-format" class="help">Format: Firstname Lastname</span>
        </div>
        <div>
            <label for="email">Email (required):</label>
            <input type="email" id="email" name="email" value="">
        </div>
        <div>
            <label>Phone Number:</label>
            <input type="number" id="phone" name="phone" value="">
        </div>
        <div>
            <select name="role">
              <option value="">Register As :</option>
              <option value="customer">Customer</option>
              <option value="salonuser">Salon Owner</option>
              <option value="cosmeticuser">Cosmetic Supplier</option>
            </select>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" id="password" name="password" class="validate" value="">
        </div>
        <div>
            <label>Confirm Password:</label>
             <input type="password" id="password" name="password2" class="validate" value="">
        </div>
        <div class="submit">
            <button class="modal-action modal-close waves-effect waves-red btn-flat ">Signup</button>
        </div>
    </fieldset>
</form>
</div>
</section>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
