<% include ./partials/masthead %>
<body>
  <!--header starts -->
  <header>
    <!--sticky navigation starts -->
    <% include partials/navbar %>
    <!--sticky navigation ends -->
  </header>
   <%- body -%>
  <!--start of javascripts-->
  <div class="clearfix"></div>
  <% include partials/scripts %>
  <!--end of javascripts-->
  <% include partials/footer %>
 </body>
</html>
