<% layout('dashboard/cosmeticadmin') %>
 <form id="Uploadform" enctype="multipart/form-data" method="post" class="form-horizontal" action="/uploadservice">
  <div class="row collapse">
   <div class="large-8 small-12 columns">
   <h>Services</h>
     <div class="row collapse">
        <div class="small-3 columns">
        <label for="Service Title">Title</label>
        </div>
         <div class="small-9 columns">
          <input type="text" required class="form-control" id="title" name="title"/>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="Service Description">Description</label>
         </div>
         <div class="small-9 columns">
          <textarea cols="42" row collapses="5" required class="form-control" id="description" name="description" ></textarea>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="img">Service Image</label>
        </div>
         <div class="small-9 columns">         
          <input type="file" name="image" id="img">
         </div>
    </div>

   <div class="row collapse">
    <div class="small-3 columns">
    </div>
    <div class="small-9 columns ">
          <button class="success button left">Post</button>
      </div>
      </div>

    </div>
  </form>
   
