/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/*
 * Home css for landing picture
 */
/*.home{
  height:90vh;
  background:url("../images/landing page.jpg");
  background:cover;
}*/
#landingimage{
 -webkit-filter : blur(2px) saturate(1);
 filter:blur(2px) saturate(1);
 height: 300px;
}
.collection a.collection-item:not(.active):hover {
  background-color: transparent;
}

.icons i{
  font-size:30px;
  margin-right:20px;
}
nav, .nav-wrapper i, nav a.button-collapse, nav a.button-collapse{
 line-height:32px;
}
nav i, nav i.material-icons{
  line-height:32px;
}

.navbar-fixed{
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}

nav ul a{
  color: #43C6DB;
}
nav .right,
nav .right  li a {
  color: #fff;
}
nav .right1  li a {
  color: #fff;
}
nav .brand-logo {
  color: #fff;
  padding: 12px 0px 0px 20px;
}
nav .brand-logo i, nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"], nav .brand-logo i.material-icons {

    padding-top: 15px;
}
nav .input-field label i {
    color: #000;
    transition: color .3s;
}
nav .input-field  {
    font-size: 10px;
    font-weight: lighter;
}

a{
  color: #800080;
}

p {
  line-height: 2rem;
}

h{
  font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  text-rendering: optimizeLegibility;
  
  font-weight: lighter;
}
h1{
  font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:15px;
  text-rendering: optimizeLegibility;
  font-weight: lighter;
}
h3{
  font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-weight: bold;;
}
h4{
  text-decoration: underline;
}
h5{
  font-size: 38px;
  font-weight: bolder;
}
.navbar li a{
  color: #800080;
}
.p-elements {
  line-height: 1rem;
}

.button-collapse {
  color: #26a69a;
}
.black {
    background-color: rgba(0, 0, 0, 0.75) !important;
}
/*#small_posts_body{
  height: 400px;
  min-height: 400px;
}*/

#search{
  background: #fff;
}
.parallax-container {
  min-height: 550px;
  line-height: 600px;
  height: auto;
  color: rgba(255,255,255,.9);
  padding-bottom: 0px;
  padding-top: 0px;
}

.land {
  padding-top: 60px;
}

#section11{
  background: #F6CEF5;
}

#section1{
  background: #fff;
}

.slides{
  line-height: 600px;
}
.slider {
  position: relative;
  height: 600px;
  width: 100%;
}
.slides{
  height: 600px;
}

.slider .slides {
    background-color:transparent;
    margin: 0;
    min-height: 600px;
}
.slider .slides li {
  background-color: #fff;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
}

.responsive-img{
line-height: 1000px;
}
.slider .indicators .indicator-item{
background-color: #fff;
}

.slider .indicators .indicator-item.active {
  background-color: #fff;
}

.parallax{
  min-height: 200px;
  line-height: 300px;
  height: 800px;
  color: rgba(255,255,255,.9);
  width: 100%;
}

.parallax-container {
  min-height: 550px;
  line-height: 600px;
  height: auto;
  color: rgba(255,255,255,.9);
  margin-bottom: 90px;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.collection .collection-item1 {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
.collection a.collection-item1:not(.active):hover {
  background-color: transparent;
}
.collection a.collection-item1 {
  display: block;
  transition: .25s;
  color: #000;
}
.section{
  padding-top:0px;
}
.card-height{
  width: 300px;
}

.card-height1{
  width: 100%;
}

.mid {
    margin-left: 450px;
}

.card1-height{
  width: 500px;
}
.card1 .card-image img{
  height: 400px;
}

.card .card-image3 img{
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.card .card-image4 img{
  height: 400px;
  width: 800px;
  object-fit: cover;
}
.card .card-image1 img{
  height: 300px;
  width: 100%;
}

.card .card-image2 img{
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.card .card-image3 img{
  height: 150px;
  width: 300px;
  object-fit: cover;
}
.card-image2 a{
  color: #800080;
  margin-left: 20px;
}
.card-title{
color: #800080;
}
.card-content{
font-size: 11px;
}
.card-action {
    position: relative;
    color: #cf4646;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px 24px;
}

.card-action1 {
    position: relative;
    color: #000;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 3px 15px 5px 8px;
}

.card-action .material-icons{
  padding: 16px 24px 0px 15px;
}
.card-action1 .material-icons{
  padding: 5px 14px 0px 15px;
}

.collection a.collection-item {
    color: #000;
  }
#section3{
  background-color: #F6CEF5;
}
.section h5{
  text-decoration: underline;
}
 #section3 .row{
  padding-bottom: 0px;
  margin-bottom: 0px;
 }
#section2 .row{
    margin-bottom: 80px;
}

.search_input{
  width: 50%;
  margin-left: 80px;
  left: auto;
  right: auto;  
}

.row{
  margin-top: 15px;
}
#edit{
  margin: 20px 30px 20px 50px
}
#appointment{
  padding:0px 0px 0px 20px;
}

.fixed{
  background: rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}
.bottom{
  display: inline;
}

.bottom li{
  display: inline;
  padding:0px 40px 30px 0px;
  margin-left: 40px;
}
.bottom li a{
color: #000;
}

.top-bottom .select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 12px;
    line-height: 12px;
    width: 50%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding-top: 0;
    display: block;
    color: #800080;
}

.top-bottom .select-wrapper span.caret {
    color: #fff;
  }

.card-content{
  color: #000;
}
h5{
  font-size: 2.35rem;
  padding: 5px 5px 0px 5px;
  font-family: 'LatoWebThin', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bolder;
}

h2{
  font-size: 1.00rem;
  text-transform: lowercase;;
  padding: 5px 5px 0px 5px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #43C6DB;
    font-size: 1.0rem;
    margin-right: 24px;
    transition: color .3s ease;
    text-transform: lowercase;;
}


.report{
  height: 300px;
  min-width: 100%;
}
.side-nav{
  background-color: #;
}
#sidenav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color:inherit;
    z-index: 997;
    will-change: opacity;
}

#banner_img {
    width: 100%;
    object-fit: cover;
}

#profile_pic {
    margin-top: -200px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 5px solid white;
  }

.collapsible-body{
  background: #fff;
}

nav ul a:hover {
  background-color: inherit;
}

.responsive-img{
  object-fit: cover;
}
.collection a{
  color: #000;
}
.page-footer .fa{
  color: #fff;
}

.page-footer h {
  color: #f5f5f5;
  font-weight: lighter;
  font-size: 13px;
}

.page-footer p {
  color: #f5f5f5;
  margin:0px 0px;
}

.footer-copyright .right {
  padding:0px 40px 30px 0px;
  margin-left: 900px;
}
.footer-copyright .left {
  margin-left: 30px;
}

.featured {
  padding:0px 40px 30px 0px;
  text-decoration: underline;
  font-size: 20px;
  color: #000;
}

.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: #000;
}
.teal.lighten-1 {
    background-color: #F781D8 !important;
}

.side-block{
  text-transform: uppercase;
  padding: 200px 5px 0px 5px;
  color:  #FFA500;
}
.side-block li {
  padding: 10px 5px 10px 5px;
}

.right1 {
  padding:0px 0px 30px 0px;
  margin-left: 1000px;
}

.right2 {
  padding:0px 0px 0px 0px;
  margin-left: 600px;
}
.side{
  background: #000;
  height: 800px;
  position: fixed;
}
.right3 {
  padding:0px 0px 0px 50px;
  margin-left: 100px;
}

.collapsible-body {
    padding: 2px 1px 2px 20px;
}

.nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
}

#bann{
  height: 400px;
  width: 1200px;
}

#about{
margin-top: 170px;
}


.banner_text {font-size: 2.92rem;
  line-height: 110%;
  margin: 10.46rem 0 1.168rem 0;
}

nav i.material-icons {
  display:inline;
}
.btn-flat {
    background-color:#DCDCDC;
    font-size: 13px;
}

a {
    color:#FFF;
}

.display-inline{
  display: inline-block;
  background: #fff;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
#section{
 background-color: rgba(0, 0, 0, 0.75);
}
footer.page-footer {
    padding-top: 20px;
    background-color: #000 !important;
}