  <!--top toolbar-->
  <div class="contain-to-grid-sticky fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Admin</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
          <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="#" class="show-search"><i class="fa fa-search"></i></a></li>
          <li class="has-dropdown">
            <a href="#"><i class="fa fa-envelope"></i><span class="badge badge-success pull-right">4</span></a>
          </li>
          <li><a href="#"><i class="fa fa-bell"></i><span class="badge badge-success pull-right">4</span></a></li>
          <li>
            <a href="#" data-toggle="dropdown">
              <span class="user-name">SalonIris<i class="fa fa-angle-down"></i></span>
              <img class="img-circle avatar" src="../images/zach2.jpg" width="40" height="40" alt="">
              </a>
            </li>
        </section>
      </nav>
    </div>
  <!--top toolbar ends -->