<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/bower_components/foundation/css/normalize.min.css" media="all" />
  <link rel="stylesheet" href="/bower_components/lato/css/lato.css" media="all" />
  <link rel="stylesheet" href="/bower_components/simple-line-icons/css/simple-line-icons.css" media="all" />
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" media="all" />
  <link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css" media="all" />
  <link rel="stylesheet" href="/css/dashboardstyle.css" media="all" />
</head>
<body>
  <!--search form starts -->
  <form class="search-form" action="/index" method="GET">
    <div class="input-group">
      <input type="text" name="search" class="form-control search-input" placeholder="Search...">
      <span class="input-group-btn">
        <button class="btn btn-default close-search" type="button"><i class="fa fa-times"></i></button>
      </span>
    </div><!-- Input Group -->
  </form>
  <!--search form ends -->