<div id ="section">
  <footer class="page-footer teal">

    <div class="footer-copyright">
      <div class="container">
        <div class="center">
           <p class="copyright">
        Copyright &copy; 2017 <a href="#" title="eventr">salonhunt.com</a>. All rights reserved.
      </p>
      </div>
      </div>
    </div>
  </footer>

   </div>