        <div class="col s4 m4 l2">
            <div class="collection">
              <a href="/findservice<%= salon.user %>" class="collection-item">Our Services</a>
              <a href="#modal2" class="collection-item">Schedule Appointment</a>
            </div>
       </div>