        <div class="col s4 m4 l2">
            <div class="collection">
              <a href="/findservice591ad63a5160432b1e242a4b" class="collection-item">Our Services</a>
              <a href="#modal1" class="collection-item">Schedule Appointment</a>
              <a href="/hair<%= salon.user %>" class="collection-item">Hair Styles</a>
              <a href="/offer<%= salon.user %>" class="collection-item">Offers</a>
            </div>
       </div>