
    <nav class="black navbar">
      <a id="left" href="/" class="brand-logo"><b>Salonhunt<b></a>
      <ul class="right hide-on-med-and-down">
       <!--show login and sign up lin user is not logged in -->
       <% if(!user) {%> 
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Signup</a></li>
       <%}%>
       <!--show logout and display namcurrent user is logged in -->
       <% if(user) {%> 
       <li><a href="#"><%= user.username %></a></li> 
       <li><a href="/logout">Logout</a></li> 
       <%}%>
      </ul>

      <ul id="nav-mobile" class="side-nav">
       <!--show login and sign up lin user is not logged in -->
       <% if(!user) {%> 
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Signup</a></li>
       <%}%>
       <!--show logout and display namcurrent user is logged in -->
       <% if(user) {%> 
       <li><a href="#"><%= user.username %></a></li> 
       <li><a href="/logout">Logout</a></li> 
       <%}%>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </nav>


