
    <nav class="black navbar">
      <a id="logo-container" href="/" class="brand-logo"><i><b>mysalon<b></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#modal2">Featured</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="#modal2">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#modal2">Featured</a></li>
        <li><a href="#modal2">Contact Us</a></li>
        <li><a href="#modal2">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </nav>


