
    <nav class="black navbar">
      <a id="left" href="/" class="brand-logo"><b>Salonhunt<b></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#modal2">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#modal2">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </nav>


