<% layout('dashboard/admin') %>
 <form id="Salon-form" method="post" class="form-horizontal" action="/admin/events">
  <div class="row collapse">
   <div class="large-8 small-12 columns">
    <h>Add Salon</h>
     <div class="row collapse">
        <div class="small-3 columns">
        <label for="Salon Title">Name</label>
        </div>
         <div class="small-9 columns">
          <input type="text" required class="form-control" id="Salon Title" name="title"/>
        </div>
        </div>


        <div class="row collapse">
        <div class="small-3 columns">
          <label for="Salon Time">Profile pic</label>
        </div>
         <div class="small-9 columns">
          <input type="text" required class="form-control" id="SalonTime" name="time"/>
        </div>
       </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="Salon Description">Description</label>
         </div>
         <div class="small-9 columns">
          <textarea cols="42" row collapses="5" required class="form-control" id="Salon Description" name="desc" ></textarea>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="Salon Title">Location</label>
        </div>
         <div class="small-9 columns">
          <input type="text" required class="form-control" id="Salon Title" name="title"/>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="SalonImage">Salon Image</label>
        </div>
         <div class="small-9 columns">          
          <label for="exampleFileUpload" class="small button success left">Upload File</label>
          <input type="file" id="exampleFileUpload" class="show-for-sr">
         </div>
    </div>

   <div class="row collapse">
    <div class="small-3 columns">
    </div>
    <div class="small-9 columns ">
       <a href="/adminindex" class="success button left">Post</a>
      </div>
      </div>


    </div>
  </form>
   
