<% layout('dashboard/admin') %>
 <form id="Salon-form" method="post" class="form-horizontal" action="/updateadminservice<%= adminservice.id  %>">
  <div class="row collapse">
   <div class="large-8 small-12 columns">
   <h>Services</h>
     <div class="row collapse">
        <div class="small-3 columns">
        <label for="Service Title">Title</label>
        </div>
         <div class="small-9 columns">
          <input type="text" required class="form-control" value="<%= adminservice.title  %>" id="title" name="title"/>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="Service Description">Description</label>
         </div>
         <div class="small-9 columns">
          <textarea cols="42" row collapses="5" required class="form-control" placeholder="" id="description" name="description" ><%= adminservice.description  %></textarea>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="Service Image">Service Image</label>
        </div>
         <div class="small-9 columns">          
          <label for="exampleFileUpload" class=""></label>
          <input type="file" id="exampleFileUpload" class="" value="<%= adminservice.img  %>">
         </div>
    </div>

   <div class="row collapse">
    <div class="small-3 columns">
    </div>
    <div class="small-9 columns ">
          <button class="success button left">Post</button>
      </div>
      </div>

    </div>
  </form>
   
