<% layout('dashboard/admin') %>
<div class ="container">
<div class="large-8 columns">
<h class ="align-center">New Salons</h>
<div class="row collapse" id="appointment">
<table>
  <thead>
    <tr>
      <th>Salon Name</th>
      <th>Salon Location</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Working Hours</th>
      <th>Description</th>
      <th>Subscription</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SalonIris</td>
      <td>Mombasa</td>
      <td>0700000000</td>
      <td>iris@gmail.com</td>
      <td>8:00AM-5:00PM</td>
      <td>All round Beauty Salon</td>
      <td>$20/Month</td>
      <td>
            <select name="category">
              <option value="">Action</option>
              <option value="action1">Accept</option>
              <option value="action2">Reject</option>
            </select>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>