<% layout('dashboard/admin') %>
<div class ="container">
<div class="large-8 columns">
<h class ="align-center">View Appointments</h>
<div class="row collapse" id="appointment">
<table>
  <thead>
    <tr>
      <th>Salon Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Location</th>
      <th>Posts</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SalonIris</td>
      <td>iris@gmail.com</td>
      <td>0700000000</td>
      <td>Mombasa Road</td>
      <td>10</td>
      <td>Delete</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>