<% layout('dashboard/salonadmin') %>
<div class ="container">
<div class="large-9 columns">
<h class ="align-center">View Appointments</h>
<div class="row collapse" id="appointment">
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Date</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mercy</td>
      <td>Thirty</td>
      <td>0700000000</td>
      <td>mc@gmail.com</td>
      <td>15/4/2017</td>
      <td>10:00am</td>
      <td>
            <select name="category">
              <option value="">Action</option>
              <option value="action1">Accept</option>
              <option value="action2">Reject</option>
            </select>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>

