<% layout('dashboard/salonadmin') %>
     <div class="row collapse">
        <div class="large-8 small-12 columns">

        <div class="small-4 columns card">
        <div class="th">
        <p>index</p>
          <a role="button" aria-label="Thumbnail" href="#">
             <img class="responsive-img" src="images/girl4.jpg">
          </a>
          </div>
        </div>

        <div class="small-4 columns card">
        <div class="th">
        <p>index</p>
          <a role="button" aria-label="Thumbnail" href="#">
             <img class="responsive-img" src="images/dread8.jpg">
          </a>
        </div>
        </div>

        <div class="small-4 columns card">
        <div class="th">
        <p>index</p>
          <a role="button" aria-label="Thumbnail" href="#">
             <img class="responsive-img" src="images/girl3.jpg">
          </a>
        </div>
        </div>

        </div>
     </div>