<% layout('dashboard/salonadmin') %>
 <form id="Salon-form" method="post" class="form-horizontal" action="">
  <div class="row collapse">
   <div class="large-8 small-12 columns">
   <h>Products</h>
     <div class="row collapse">
        <div class="small-3 columns">
        <label for="Product Title">Title</label>
        </div>
         <div class="small-9 columns">
          <input type="text" required class="form-control" id="Product Title" name="title"/>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="Product Description">Description</label>
         </div>
         <div class="small-9 columns">
          <textarea cols="42" row collapses="5" required class="form-control" id="Product Description" name="desc" ></textarea>
        </div>
        </div>

        <div class="row collapse">
        <div class="small-3 columns">
        <label for="Product Image">Product Image</label>
        </div>
         <div class="small-9 columns">          
          <label for="exampleFileUpload" class="small button success left">Upload File</label>
          <input type="file" id="exampleFileUpload" class="show-for-sr">
         </div>
    </div>

   <div class="row collapse">
    <div class="small-3 columns">
    </div>
    <div class="small-9 columns ">
       <a href="/product" class="success button left">Post</a>
      </div>
      </div>

    </div>
  </form>
   
