<% layout('search/salons') %>

<div class ="top-bottom">
    <div class="row">
     <ul class="navbar">
        <li class="col s4 m4 l4"><a href="#">All Salons</a></li>
        <li class="col s4 m4 l4"><a href="#">Nearby</a></li>
        <li class="col s4 m4 l4"><a href="#">Select Location</a></li>
      </ul>
    </div>
</div>

<div id="section2">
<div class="row">
        <div class="col s4 m4 l2">
            <div class="collection">
              <a href="/service" class="collection-item">Our Services</a>
              <a href="/appointment" class="collection-item">Schedule Appointment</a>
              <a href="/hair" class="collection-item">Hair trends</a>
              <a href="/offer" class="collection-item">Offers</a>
            </div>
       </div>
 <div class="col s8 m8 l7">

<div class="collection">
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m12 l6">
          <input placeholder="First Name" id="first_name" type="text" class="validate">
        </div>
        <div class="input-field col s12 m12 l6">
          <input id="last_name" placeholder="Last Name" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l6">
          <input placeholder="Phone Number" id="Phoneno" type="text" class="validate">
        </div>
        <div class="input-field col s12 m12 l6">
          <input id="Email" placeholder="Email" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="password" placeholder="Password" type="password" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l6">
          <input placeholder="Date" id="Date" type="text" class="validate">
        </div>
        <div class="input-field col s12 m12 l6">
          <input id="Time" placeholder="Time" type="text" class="validate">
        </div>
      </div>
      <button class="large button success right">Submit</button>
    </form>
  </div>

</div>
</div>
      <div class="col l3 hide-on-med-and-down">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="images/new.png">
                 </div>
              </div>
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="images/new2.png">
                 </div>
              </div>
      </div>
   
</div>
</div>

<% include /templates/loginform.ejs %>
