<% layout('search/salons') %>

<div id="section2">
<div class="row">
        <div class="col s3 m3 l2">
            <div class="collection">
              <a href="/find" class="collection-item">Beauty Salons</a>
              <a href="/cosmetic" class="collection-item">Cosmetic Shops</a>
            </div>
       </div>
 <div class="col s9 m9 l7">
  <div class="collection">
    <div class="collection-item1">
    <h>Favourite Asked Questions<h>
  </div>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><p>Q1. What is Salonhunt?</p></div>
      <div class="collapsible-body"><span> Answer : Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</span></div>
    </li>
    <li>
      <div class="collapsible-header"><p>Q2. How do you get your salon identified on salonhunt?</p></div>
      <div class="collapsible-body"><span> Answer : Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</span></div>
    </li>
    <li>
      <div class="collapsible-header"><p>Q3. What services are offered in Salonhunt?</p></div>
      <div class="collapsible-body"><span> Answer : Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</span></div>
    </li>
  </ul>

  </div>
</div>
<%= include ../partials/right %>
   
</div>
</div>
