<% layout('search/salons') %>

<div class ="top-bottom">
    <div class="row">
     <ul class="navbar">
        <li class="col s4 m4 l4"><a href="/find">All Salons</a></li>
        <li class="col s4 m4 l4"><a href="#map">Nearby</a></li>
        <li class="col s4 m4 l4"><a href="#">Select Location</a></li>
      </ul>
    </div>
</div>

<div id="section2">
<div class="row">
        <div class="col s3 m3 l2">
            <div class="collection">
             <div class="input-field collection-item col l12">
              <input placeholder="City"id="search" type="search">
              <input placeholder="Salon Name"id="search" type="search">
             </div>
              <a href="#!" class="collection-item">Beauty Salons</a>
              <a href="#!" class="collection-item">Spa's</a>
              <a href="#!" class="collection-item">Barber Shops</a>
              <a href="#!" class="collection-item">Cosmetic Shops</a>
            </div>
       </div>
 <div class="col s9 m9 l7">
  <div class="collection">
    <div class="collection-item1">
    <h>Salons in Mombasa,Kenya<h>
    <h><a href ="#map"><i class="fa fa-map-marker"></i></a></h>
    <a class="right btn-flat">Schedule Appointment</a>
  </div>
    <a href="/single" class="collection-item col s12 m12 l12">
          <div id="small_post_image" class="col s6 m6 l6">
              <div class="card card-height">
                 <div class="card-image3">
                  <img class="responsive-img" src="images/girl4.jpg">
                 </div>
                   </div>
            </div> 
      <div class="col s6 m6 l6">
        <p>SalonIris</p>
        <p>Location :Mombasa Old Town </p>
      </div>
    </a>

    <a href="#!" class="collection-item col s12 m12 l12">
          <div id="small_post_image" class="col s6 m6 l6">
              <div class="card card-height">
                 <div class="card-image3">
                  <img class="responsive-img" src="images/girl3.jpg">
                 </div>
                   </div>
            </div> 
      <div class="col s6 m6 l6">
        <p>SalonIris</p>
        <p>Location :Mombasa Old Town </p>
      </div>
    </a>
    <a href="#!" class="collection-item col s12 m12 l12">
          <div id="small_post_image" class="col s6 m6 l6">
              <div class="card card-height">
                 <div class="card-image3">
                  <img class="responsive-img" src="images/girl2.jpg">
                 </div>
                   </div>
            </div> 
      <div class="col s6 m6 l6">
        <p>SalonIris</p>
        <p>Location :Mombasa Old Town </p>
      </div>
    </a>
  </div>
</div>
      <div class="col l3 hide-on-med-and-down">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="images/new.png">
                 </div>
              </div>
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="images/new2.png">
                 </div>
              </div>
      </div>
   
</div>
</div>

<% include /templates/loginform.ejs %>
