<% layout('search/salons') %>

<div id="section2">
<div class="row">
        <div class="col s4 m4 l2">
            <div class="collection">
              <a href="#modal5" class="collection-item">Make Order</a>
            </div>
       </div>

 <div class="col s8 m8 l7" id="test1">

  <div class="collection">
   <a href="#!" class="collection-item1">Our Products</a>
  <div class="col s12 m12 l12">
<% product.forEach(function(product, index){ %>
<div class="col s12 m12 l6">

   <div id="small_posts_body" class="row small_posts_list">
        <div class="col s12">
        <div class="card-content">
         <h><b><%= product.title %>:</b><%= product.description %></h>
         </div>
          <div id="small_post_image" class="col s12">
              <div class="card card-height">
                 <div class="card-image2">
                  <img class="responsive-img" src="/<%= product.img %>">
                 </div>
                   </div>
            </div>
          <div class="app">
            <a href="#modal5" class="btn-flat">Make Order</a>
          </div>
         </div>
       </div>
</div>
<%});%>
</div>
  </div>

</div>
      <div class="col l3 hide-on-med-and-down">
      <% if(adminnews){ %>
 <% adminnews.forEach(function(adminnews, index){ %>
              <div class="card card-height">
                 <div class="card-image2">
                   <img class="responsive-img" src="/<%= adminnews.img %>">
                 </div>
              </div> 
 <% }); %>
<% } %>
      </div>
   
</div>
</div>

<div id="modal5" class="modal modal-fixed-footer">
 <div class="modal-content">
 <h3 class="center">Make Order</h3>
  <div class="row">
    <form class="col s12 m12 l12">
      <div class="row">
        <div class="input-field col s12 m12 l6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s12 m12 l6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l6">
           <input id="phone" type="text" class="validate">         
           <label for="phone">Phone Number</label>
        </div>
        <div class="input-field col s12 m12 l6">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
      <a href="/profile#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Submit</a>
          </div>
        </div>
      </div>
    </form>

  </div>
 </div>
  <div class="modal-footer"></div>
</div>