<% layout('search/salons') %>

<div class ="top-bottom">
    <div class="row">
     <ul class="navbar">
        <li class="col s4 m4 l4"><a href="/find">All Salons</a></li>
      </ul>
    </div>
</div>

<div id="section2">
<div class="row">
        <div class="col s4 m4 l2">
            <div class="collection">
              <a href="/findservice" class="collection-item">Our Services</a>
              <a href="#modal1" class="collection-item">Schedule Appointment</a>
              <a href="/hair" class="collection-item">Hair trends</a>
              <a href="/offer" class="collection-item">Offers</a>
            </div>
       </div>
 <div class="col s8 m8 l7">

  <div class="collection">
    <a href="#!" class="collection-item1">Our Services</a>
    <a href="#!" class="collection-item1">
<ol>
  <% service.forEach(function(service, index){ %>
  <li><p><%= service.title %></p></li>
    <%});%>
</ol>
  </div>

</div>
      <div class="col l3 hide-on-med-and-down">
      <% if(adminnews){ %>
 <% adminnews.forEach(function(adminnews, index){ %>
              <div class="card card-height">
                 <div class="card-image2">
                   <img class="responsive-img" src="/<%= adminnews.img %>">
                 </div>
              </div> 
 <% }); %>
<% } %>
      </div>
   
</div>
</div>

<% include /templates/loginform.ejs %>
<% include /templates/appointment.ejs %>


